<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

  <uses-sdk tools:overrideLibrary="com.google.firebase.components,com.google.android.gms.common,com.google.firebase.messaging,com.google.firebase.installations,com.google.firebase,com.google.android.gms.cloudmessaging,com.google.android.gms.base,com.google.firebase.installations.interop,com.google.android.gms.tasks"/>

  <application>
    <activity
      android:name="com.braze.ui.BrazeWebViewActivity"
      android:exported="false" />
    <activity
      android:name="com.braze.ui.activities.ContentCardsActivity"
      android:exported="false" />
    <activity
      android:name="com.braze.push.NotificationTrampolineActivity"
      android:excludeFromRecents="true"
      android:autoRemoveFromRecents="true"
      android:taskAffinity=".NotificationTrampolineActivity"
      android:exported="false"
      android:launchMode="singleInstance"
      android:theme="@style/Braze.PushTrampoline.Transparent" />
    <receiver
      android:name="com.braze.push.BrazePushReceiver"
      android:exported="false" />

    <!--  This behavior can be optionally overwritten via
      <meta-data android:name="firebase_messaging_installation_id_enabled" android:value="false" tools:replace="android:value" />
    -->
    <meta-data android:name="firebase_messaging_installation_id_enabled" android:value="true" />
  </application>
</manifest>

